@import 'imports'

.graph-remove
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer
  color: $gray

.graph-resize
  position: absolute
  top: auto
  transform: rotate(45deg)
  right: 3px
  bottom: 3px
  color: $gray
  cursor: se-resize

.react-resizable
  position: relative

.react-draggable-active
  user-select: none

.react-resizable-handle.react-draggable
  position: absolute
  width: 20px
  height: 20px
  background-position: bottom right
  padding: 0 3px 3px 0
  background-repeat: no-repeat
  background-origin: content-box
  box-sizing: border-box
  cursor: se-resize



.quandl-month-day, .ct-chart .ct-label.ct-vertical
  font-size: 10px
  color: black

.launchEditModal
  position absolute
  top 5px
  left 5px
  color: $gray